<div ng-controller="expenseController as vm" class="col-md-12">
		<h1>Hotel Application</h1>

		
		
		<h1>Expenses</h1>

		<div class="row">
			
				<form name="expenseForm" ng-submit="vm.saveExpense()">
					<label>Expense Type</label>
					<input type="text" name="expensesType"	class="form-control" ng-model="vm.expensesType" />
					<label>Description</label>
					<input type="text" name="description" class="form-control" ng-model="vm.description" />
					<label>Amount</label>
					<input type="text" name="amount" class="form-control" ng-model="vm.amount" />
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
				<!--<p>{{postResultMessage}}</p>-->
			
		</div>


	<div>
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8">

				<div class="btn-group" role="group">
					<button ng-click="vm.getAll()" type="button" class="btn btn-default">All</button>
				</div>

				<!-- Display expenses in a table -->
				<table class="table">
					<thead>
					<tr>
						<th>#</th>
						<th>Expense Type</th>
						<th>Description</th>
						<th>Amount</th>
						<th style="width: 90px"></th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="expense in vm.expenses">
						<td>{{expense.id}}</td>
						<td>{{expense.expensesType}}</td>
						<td>{{expense.description}}</td>
						<td>{{expense.amount}}</td>
						<td>
							<button class="btn btn-danger" ng-click="vm.deleteExpense(expense.id)">Delete</button>
						</td>
					</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	
</div>