<div ng-controller="salaryController as vm">

	<div class="row">
		<div class="col-lg-offset-1 col-lg-10">
			<div style="padding:0 0 15px 0;">

				<h3  ng-hide="vm.id!=null">
					<span class="text-muted">Salary</span>
				</h3>
			</div>

			<form class="navbar-form" role="search" style="padding:0 0 10px 0;">
				<div class="input-group add-on">
					<input class="form-control" ng-model="search" placeholder="Search" name="srch-term" id="srch-term" type="text">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</div>
			</form>

			<div>
				<!-- Display salarys in a table -->
				<table class="table table-condensed table-hover">
					<thead>
					<tr style="background-color: rgba(0,0,0,0.76); color:white;">
						<th>NIC</th>
						<th>Employee Name</th>
						<th>Department</th>
						<th>Hours worked</th>
						<th>OverTime</th>
						<th>Hourly Rate</th>
						<th>Tax</th>
						<th>Date</th>
						<th>Gross Pay</th>
						<th>Net pay</th>

						<th style="width: 5px"></th>
					</tr>
					</thead>
					<tbody>
					<tr  ng-repeat="sal in vm.salarys | filter: search | limitTo:vm.itemsPerPage:((vm.currentPage -1) * vm.itemsPerPage)">
						<td class="warning">{{sal.empID}}</td>
						<td class="warning">{{sal.empName}}</td>
						<td class="warning">{{sal.empDep}}</td>
						<td class="warning">{{sal.empHrs}}</td>
						<td class="warning">{{sal.empOT}}</td>
						<td class="warning">{{sal.empHrlyRate}}</td>
						<td class="warning">{{sal.empTax}}</td>
						<td class="warning">{{sal.payDate | date:'yyyy-MM-dd'}}</td>
						<td class="warning">{{sal.grossPay}}</td>
						<td class="info">{{sal.netPay}}</td>

						<td>
							<button class="btn btn-default"
									ng-click="vm.editSalary(sal.id,sal.empID,sal.empName,sal.empDep,sal.empHrs,sal.empOT,sal.empHrlyRate,sal.empTax,sal.payDate,sal.grossPay,sal.netPay)">
								<i class="glyphicon glyphicon-edit"></i> Edit</button>
						</td>
						<td>
							<button class="btn btn-danger" ng-click="vm.deleteSalary(sal.id)">
								<i class="glyphicon glyphicon-trash"></i></button>
						</td>
					</tr>
					</tbody>
				</table>
				<ul uib-pagination style="float:right"
					total-items="vm.expenses.length"
					items-per-page="vm.itemsPerPage"
					ng-model="vm.currentPage"
					class="pagination-sm"></ul>

			</div>
		</div>
	</div>

	<div class="col-md-offset-1 col-md-8" style="padding:0 0 10px 0;" >

		<form name="salaryForm" ng-submit="vm.saveSalary()">

			<div style="padding:0 0 15px 0;">
				<h3 ng-show="vm.id!=null">
					<span class="text-muted">Edit Salary </span>
				</h3>
				<h3  ng-hide="vm.id!=null">
					<span class="text-muted">Add Salary</span>
				</h3>
			</div>

			<div class="form-group col-md-4">
				<div class="form-group">
					<label>Employee NIC :</label>
					<input type="text" name="empID" class="form-control" ng-model="vm.empID" placeholder="Employee ID" autocomplete="off" required/>
				</div>
				<div class="form-group">
					<label>Employee Name :</label>
					<input type="text" name="empName" class="form-control" ng-model="vm.empName" placeholder="Employee Name" autocomplete="off" required/>
				</div>
				<div class="form-group">
					<label>Department :</label>
					<select class="form-control" ng-model="vm.empDep" required>
						<option value="" selected disabled>Select Department</option>
						<option>Front Office</option>
						<option>Housekeeping</option>
						<option>Food and Beverage</option>
						<option>Sales and Marketing</option>
						<option>Maintenance</option>
						<option>Security</option>
						<option>Accounting</option>
						<option>Laundry</option>
					</select>
				</div>
				<div class="form-group">
					<label>Hours worked :</label>
					<input type="number" ng-value="vm.empHrs" placeholder="Hours Worked" class="form-control" ng-model="vm.empHrs" autocomplete="off" required/>
				</div>
				<div class="form-group">
					<label>OverTime</label>
					<input type="number" ng-value="vm.empOT" placeholder="Overtime" class="form-control" ng-model="vm.empOT" autocomplete="off" required/>

				</div>
			</div>
			<div class="form-group col-md-4">
				<div class="form-group">
					<label>Hourly Rate :</label>
					<input type="number" ng-value="vm.empHrlyRate" placeholder="Hourly Rate" class="form-control" ng-model="vm.empHrlyRate" autocomplete="off" required/>
				</div>
				<div class="form-group">
					<label>Tax :</label>
					<input type="number" ng-value="vm.empTax" placeholder="Tax" class="form-control" ng-model="vm.empTax" autocomplete="off" required/>
				</div>
				<div class="form-group">
					<label>Date :</label>

					<!--<input type="date" name="payDate" value="vm.payDate" class="form-control" ng-model="vm.payDate "/>-->
					<p class="input-group">
						<input type="text"
							   class="form-control"
							   uib-datepicker-popup
							   date-type="string"
							   ng-model="vm.payDate"
							   is-open="vm.popup2.opened"
							   datepicker-options="vm.dateOptions"
							   ng-required="true"
							   close-text="Close" />
						<span class="input-group-btn">
								<button type="button"
										class="btn btn-default"
										ng-click="vm.open2()">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
					</p>
				</div>
				<div class="form-group">
					<label>Gross Pay :</label>
					<input type="number" ng-value="vm.empHrs * vm.empHrlyRate"  placeholder="Gross Pay" class="form-control" ng-model="vm.grossPay" autocomplete="off" disabled/>
				</div>
				<div class="form-group">
					<label>Net pay :</label>
					<input type="number" ng-value="(vm.empHrs * vm.empHrlyRate)-vm.empTax" placeholder="Net Pay" class="form-control" ng-model="vm.netPay" autocomplete="off" disabled/>
				</div>
				<div style="float:right; padding:10px 0 0 0;">
					<button type="submit" class="btn btn-primary" ng-hide="vm.id!=null">Save</button>
					<button type="submit" class="btn btn-primary" ng-show="vm.id!=null">Update</button>

				</div>
			</div>
		</form>
		<!--<p>{{postResultMessage}}</p>-->
	</div>


</div>