<div ng-controller="menuController" class="col-md-offset-2 col-md-8">
    <h2> Add a New Menu</h2>
    <form class="form-horizontal" name="menuForm" method="post" ng-submit="createMenu()">

        <div class="form-group">
            <input type="hidden" class="form-control" id="foodId" name="foodId" ng-model="foodId">

            <label class="control-label col-sm-2" for="mealType">Meal Type:</label>
            <div class="col-sm-10">
                <select class="form-control" id="mealType" name="mealType" ng-model="mealType">
                    <option value="Breakfast" selected>Breakfast</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Dinner">Dinner</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="date">Date:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="date" name="date" ng-model="date" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="foodName">Food Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="foodName" name="foodName" ng-model="foodName" required>
            </div>
        </div>

        <div class="form-group">
        <label class="control-label col-sm-2" for="foodType">Food Type:</label>
        <div class="col-sm-10">
            <select class="form-control" id="foodType" name="foodType" ng-model="foodType">
                <option value="Appetizer">Appetizer</option>
                <option value="Main Meal">Main Meal</option>
                <option value="Dessert">Dessert</option>
                <option value="Drink">Drink</option>
            </select>
        </div>
    </div>



        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-hide="hideCreateButton">Create</button>
            </div>
        </div>
    </form>

    &emsp;&emsp;
    <button class="btn btn-default" ng-click="cancelEdit()" ng-show="showCancelButton">Cancel</button>
    <button class="btn btn-warning" ng-click="editMenu()" ng-show="showEditButton">Edit</button>

    <table class="table table-hover">
        <thead>
        <caption><h2>Menus</h2></caption>
        <tr>
            <th>Meal Type</th>
            <th>Date (mm-dd-yyyy)</th>
            <th>Food Name</th>
            <th>Food Type</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="m in menus">
            <td>{{ m.mealType }}</td>
            <td>{{ m.date | date :  "MM/dd/y" }}</td>
            <td>{{ m.foodName }}</td>
            <td>{{ m.foodType }}</td>
            <td><a ng-click="viewEditDetails(m.foodId, m.mealType, m.date, m.foodName, m.foodType)" role="button"
                   class="btn btn-warning btn-sm">Edit</a> </td>
            <td><a ng-click="deleteMenu(m.foodId)" role="button" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>