<div ng-controller="requestLeavesController" class="col-md-offset-2 col-md-8">
	<h2> Request Leaves </h2>
	<form class="form-horizontal" name="leaveRequestForm" method="post" ng-submit="createLeaveRequest()">

		<div class="form-group">
			<label class="control-label col-sm-2" for="nic">NIC:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="nic" name="nic" ng-model="nic" required>
			</div>
		</div>

		<div class="form-group">
	    <label class="control-label col-sm-2" for="reason">Reason for Leave:</label>
	    <div class="col-sm-10">
	      <textarea class="form-control" id="reason" name="reason" ng-model="reason" required></textarea>
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="noOfDays">Number of Days:</label>
	    <div class="col-sm-10"> 
	      <input type="number" class="form-control" id="noOfDays" name="noOfDays" ng-model="noOfDays" required>
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label class="control-label col-sm-2" for="startingDate">Starting Date(mm/dd/yyyy):</label>
	    <div class="col-sm-10"> 
	      <input type="date" class="form-control" id="startingDate" name="startingDate" ng-model="startingDate" required>
	    </div>
	  </div>
	  
	  	  
	  <div class="form-group"> 
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-primary">Submit</button>
	    </div>
	  </div>
	</form>	
	
	<table class="table table-hover">
		<thead>
            <caption><h2>Requested Leaves</h2></caption>
            <tr>
                <th>NIC</th>
                <th>Reason</th>
                <th>Number of Days</th>
                <th>Starting Date (mm-dd-yyyy)</th>
                <th>Status</th>
            </tr>
    	</thead>
    	
    	<tbody>	
	  		<tr ng-repeat="l in leaves">
	    		<td>{{ l.nic }}</td>
	    		<td>{{ l.reason }}</td>
	    		<td>{{ l.noOfDays }}</td>
	    		<td>{{ l.startingDate | date :  "MM/dd/y" }}</td>
	    		<td>{{ l.status }} </td>
	 		</tr>
	 	</tbody>
	</table>
</div>